<template>
    <!-- 订单列表 -->
    <div class="orders">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>订单管理</el-breadcrumb-item>
            <el-breadcrumb-item>订单列表</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <!-- 搜索区域 -->
            <el-row>
                <el-col :span="8">
                    <el-input placeholder="请输入内容">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </el-col>
            </el-row>
            <!-- 表格区域 -->
            <el-table :data="ordersList" border="" stripe>
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="订单编号" prop="order_number" width="460px"></el-table-column>
                <el-table-column label="订单价格" prop="order_price" width="80px"></el-table-column>
                <el-table-column label="是否付款" prop="pay_status" width="80px">
                    <template slot-scope="scope">
                        <el-tag type="danger" v-if="scope.row.pay_status==='0'">未付款</el-tag>
                        <el-tag type="success" v-else>已付款</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="是否发货" prop="is_send" width="80px"></el-table-column>
                <el-table-column label="下单时间" prop="create_time" width="180px">
                    <template slot-scope="scope">{{scope.row.create_time | dateFormat}}</template>
                </el-table-column>
                <el-table-column label="操作" width="160px">
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            type="primary"
                            icon="el-icon-edit"
                            @click="showEditDialog"
                        ></el-button>
                        <el-button
                            size="mini"
                            type="success"
                            icon="el-icon-location"
                            @click="showProgressDialog"
                        ></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页区域 -->
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="queryInfo.pagenum"
                :page-sizes="[5, 10, 20, 30]"
                :page-size="queryInfo.pagesize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="this.total"
            ></el-pagination>
            <!-- 修改地址对话框 -->
            <el-dialog
                title="修改地址"
                :visible.sync="addressDialogVisible"
                width="50%"
                @close="addressFormClosed"
            >
                <el-form
                    :model="addressForm"
                    :rules="addressFormRules"
                    ref="addressForm"
                    label-width="100px"
                >
                    <el-form-item label="省市区/县" prop="address">
                        <el-cascader :options="cityData" v-model="addressForm.address"></el-cascader>
                    </el-form-item>
                    <el-form-item label="详细地址" prop="detailAddress">
                        <el-input v-model="addressForm.detailAddress"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addressDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addressDialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 物流进步对话框 -->
            <el-dialog title="物流进度" :visible.sync="progressDialogVisible" width="50%">
                <span>河南省长垣市</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="progressDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="progressDialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>
        </el-card>
    </div>
</template>

<script>
import cityData from './city.js'
export default {
    data() {
        return {
            ordersList:[],                      // 所有订单列表数据
            progressList:[],                    // 物流进度数据
            total:0,                            // 总条数
            // 订单列表配置对象
            queryInfo:{
                query:"",
                pagenum:1,
                pagesize:5,
            },
            addressDialogVisible:false,         // 修改地址对话框的状态
            progressDialogVisible:false,        // 物流进度对话框的状态
            // 修改地址配置对象
            addressForm:{
                address:[],                     // 省市县区
                detailAddress:''                // 详细地址
            },
            // 修改地址表单的验证规则
            addressFormRules:{
                address:[{required:"true",message:"请选择省市县",trigger:"blur"}],
                detailAddress:[{required:"true",message:"请输入详细地址",trigger:"blur"}]
            },
            cityData,                           // 城市数据                      
        };
    },
    created() {
        this.getOrdersList()
    },
    mounted() {
        // console.log(cityData);
    },
    methods: {
        // 获取订单列表数据
        async getOrdersList(){
            const {data:res} = await this.$http.get("orders",{params:this.queryInfo})
            if(res.meta.status!==200){
               return this.$message.error("获取订单管理失败！")
            }
            // console.log(res);
            this.$message.success("获取订单管理成功！")
            this.total=res.data.total
            this.ordersList=res.data.goods
        },
        // 监听当前页数
        handleCurrentChange(newNum){
            this.queryInfo.pagenum=newNum
            this.getOrdersList()
        },
        // 监听每页条数
        handleSizeChange(newSize){
            this.queryInfo.pagesize=newSize
            this.getOrdersList()
        },
        // 监听修改地址对话框的状态
        showEditDialog(){
            this.addressDialogVisible=true
        },
        // 清空修改地址对话框表单
        addressFormClosed(){
            this.$refs.addressFormRef.resetFields()
        },
        // 监听物流进度对话框的状态
        async showProgressDialog(){
            // const {data:res} = await this.$http.get("/kuaidi/:id")
            // if(res.meta.status!==200){
            //    return this.$message.error("获取物流进度失败！")
            // }
            // this.$message.success("获取物流进度成功！")
            // console.log(res);
            // this.progressList=res.data
            this.progressDialogVisible=true
        }
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    margin: 15px 0;
}
.el-cascader{
    width: 100%;
}
</style>
