<template>
<!-- 商城后台管理后台 -->
    <div class="home">
        <!-- 布局容器 -->
        <el-container>
            <!-- 头部 -->
            <el-header class="home-header">
                <div class="header-left">
                    <img src="./登录头像.jpg" alt="">
                    <p>电商后台管理系统</p>
                </div>
                <div class="header-right">
                    <el-button type="info" @click="outHome">退出</el-button>
                </div>
            </el-header>
            <!-- 主体 -->
            <el-container class="home-content">
                <!-- 左边侧边栏 -->
                <el-aside :width="collapseFlag ? '64px' : '200px'">
                    <el-col :span="12">
                        <div class="toggle-button" @click="toggleCollapse">|||</div>
                        <el-menu
                            class="el-menu-vertical-demo"
                            background-color="#333744"
                            text-color="#fff"
                            active-text-color="skyblue"
                            unique-opened
                            :collapse="collapseFlag"
                            :collapse-transition="false"
                            router
                            :default-active="activePath"
                        >
                            <!-- 一级菜单 -->
                            <el-submenu
                                :index="item.id +''"
                                v-for="item in menuList"
                                :key="item.id"
                            >
                                <template slot="title">
                                    <i :class="menuObj[item.id]"></i>
                                    <span>{{item.authName}}</span>
                                </template>
                                <!-- 二级菜单 -->
                                <el-menu-item
                                    :index="'/'+itemChildrens.path"
                                    v-for="itemChildrens in item.children"
                                    :key="itemChildrens.id"
                                    @click="saveStatus('/'+itemChildrens.path)"
                                >
                                    <i class="el-icon-s-operation"></i>
                                    <span slot="title">{{itemChildrens.authName}}</span>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-aside>
                <!-- 右边内容 -->
                <el-main class="home-main">
                    <router-view></router-view>
                </el-main>
            </el-container>
        </el-container>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
  data() {
    return {
        menuList:[],                        // 左侧菜单权限数据
        menuObj:{
            '125':"el-icon-s-custom",
            '103':"el-icon-s-tools",
            '101':"el-icon-s-goods",
            '102':"el-icon-s-order",
            '145':"el-icon-s-marketing"
        },
        // 折叠状态
        collapseFlag:false,
        // 被激活的链接地址
        activePath:""
    };
  },
  created(){
      this.getMenuList()
      this.activePath=window.sessionStorage.getItem("activePath")
  },
  mounted() {},
  methods: {
    //   退出home
    outHome(){
        window.sessionStorage.clear()
        this.$router.push("/login")
    },
    // 获取菜单数据
    async getMenuList(){
        const {data:res} = await this.$http.get('menus')
        if(res.meta.status !==200){
           return this.$messgae.error(res.meta.msg)
        }else{
            this.menuList=res.data
            // console.log(this.menuList);
            // this.$messgae.success(res.meta.msg)
        }
    },
    // 切换折叠
    toggleCollapse(){
        this.collapseFlag=!this.collapseFlag
    },
    // 保存链接的激活状态
    saveStatus(activePath){
        window.sessionStorage.setItem("activePath",activePath)
        this.activePath=activePath
    }
  },
  components: {}
};
</script>

<style lang='scss' scoped>
.home{
    width: 100%;
    height: 100%;
    .home-header{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #666;
        .header-left{
            display: flex;
            align-items: center;
            img{
                width: 60px;
                height: 60px;
                margin: 0 20px;
                border-radius: 50%;
            }
            p{
                color: #fff;
                font-size: 16px;
            }
        }
        .header-right{
            margin-right: 20px;
        }
    } 
    .home-content{
        width: 100%;
        height: 100%;
         .el-menu-vertical-demo{
        width: 200px;
        height: 666px;
    }
    .home-main{
        height: 100vh;
        background-color: #eaedf1;
    }
    .el-col-12{
        width: 100%;
    }
    .el-menu{
        border: none;
    }
    .toggle-button{
        color: #fff;
        font-size: 10px;
        text-align: center;
        line-height: 24px;
        cursor: pointer;
        letter-spacing: 0.2rem;
        background-color: #999;
    }
    }
   
}

</style>
