<template>
  <!-- 登录页面 -->
  <div class="login">
    <!-- 表单登录组件 -->
    <div class="login-box">
      <!-- 头像 -->
      <div class="login-img">
        <img src="./登录头像.jpg" alt="">
      </div>
      <el-form class="login-form" ref="loginFormRef" :model="loginForm" :rules="loginFormRules">
        <!-- 输入框 -->
        <el-form-item prop="username">
          <el-input prefix-icon="el-icon-s-custom" v-model="loginForm.username"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input prefix-icon="el-icon-lock" v-model="loginForm.password" type="password"></el-input>
        </el-form-item>
        <!-- 按钮 -->
        <el-form-item class="login-btns">
          <el-button type="primary" @click="login">登录</el-button>
          <el-button type="info" @click="resetLoginForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { async } from 'q';
export default {
  data() {
    return {
      // 登录表单的数据绑定对象
      loginForm: {
        username: "admin",
        password: "123456"
      },
      // 表单的验证规则对象
      loginFormRules: {
        // 验证账号
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          {
            min: 3,
            max: 10,
            message: "用户名长度在 3 到 10 个字符",
            trigger: "blur"
          }
        ],
        // 验证密码
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 5,
            max: 15,
            message: "密码长度在 6 到 16 个字符",
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted() {},
  methods: {
    // 重置表单
    resetLoginForm() {
      this.$refs.loginFormRef.resetFields();
    },
    // 登录
    login() {
      this.$refs.loginFormRef.validate(async valid => {
        if (!valid) return;
        const { data: res } = await this.$http.post("login", this.loginForm);
        if (res.meta.status !== 200) {
         return this.$message.error(res.meta.msg);
        } else {
          this.$message.success("恭喜您！登录成功。");
          window.sessionStorage.setItem("token", res.data.token);
          this.$router.push("/home");
        }
      });
    }
  },
  components: {}
};
</script>

<style lang='scss' scoped>
.login {
  background-color: #2b4b6b;
  height: 100vh;
  .login-box {
    width: 450px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    .login-img {
      width: 130px;
      height: 130px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .login-form {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 0 20px;
    }
    .login-btns {
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
