<template>
    <div class="welcome">
        <p>Welcome！</p>
        <p>欢迎使用商城后台管理系统！</p>
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    mounted() {},
    methods: {},
    components:{}
};
</script>

<style lang='scss' scoped>
.welcome{
    width: 100%;
    height: 100%;
    background-color: #eaedf1;
    p{
    text-align: center;
    color: #6cf;
    font-size: 30px;
    margin-top: 100px;
    }
}
</style>
