<template>
    <!-- 添加商品 -->
    <div class="addGoods">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>商品管理</el-breadcrumb-item>
            <el-breadcrumb-item>商品列表</el-breadcrumb-item>
            <el-breadcrumb-item>添加商品</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图 -->
        <el-card>
            <!-- 提示区域 -->
            <el-alert title="添加商品信息" type="info" center show-icon :closable="false"></el-alert>
            <!-- 步骤条 -->
            <el-steps :space="200" :active="activeIndex - 0" finish-status="success" align-center>
                <el-step title="基本信息"></el-step>
                <el-step title="商品参数"></el-step>
                <el-step title="商品属性"></el-step>
                <el-step title="商品图片"></el-step>
                <el-step title="商品内容"></el-step>
                <el-step title="完成"></el-step>
            </el-steps>
            <!-- tabs标签页 -->
            <el-form
                :model="addForm"
                :rules="addFormRules"
                ref="addFormRef"
                label-width="100px"
                label-position="top"
            >
                <el-tabs
                    v-model="activeIndex"
                    tabPosition="left"
                    :before-leave="beforeTabLeave"
                    @tab-click="tabClicked"
                >
                    <!-- 基本信息 -->
                    <el-tab-pane label="基本信息" name="0">
                        <el-form-item label="商品名称" prop="goods_name">
                            <el-input v-model="addForm.goods_name"></el-input>
                        </el-form-item>
                        <el-form-item label="商品价格" prop="goods_price">
                            <el-input v-model="addForm.goods_price" type="number"></el-input>
                        </el-form-item>
                        <el-form-item label="商品重量" prop="goods_weight">
                            <el-input v-model="addForm.goods_weight" type="number"></el-input>
                        </el-form-item>
                        <el-form-item label="商品数量" prop="goods_number">
                            <el-input v-model="addForm.goods_number" type="number"></el-input>
                        </el-form-item>
                        <el-form-item label="商品分类">
                            <el-cascader
                                v-model="addForm.goods_cat"
                                :options="cateList"
                                :props="cateProps"
                                @change="handleChange"
                            ></el-cascader>
                        </el-form-item>
                    </el-tab-pane>
                    <!-- 商品参数 -->
                    <el-tab-pane label="商品参数" name="1">
                        <!-- 渲染表单 -->
                        <el-form-item
                            :label="item.attr_name"
                            v-for="item in manyTableData"
                            :key="item.attr_id"
                        >
                            <!-- 复选框组 -->
                            <el-checkbox-group v-model="item.attr_vals">
                                <el-checkbox
                                    :label="it"
                                    v-for="(it,i) in item.attr_vals"
                                    :key="i"
                                    border=""
                                ></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                    </el-tab-pane>
                    <!-- 商品属性 -->
                    <el-tab-pane label="商品属性" name="2">
                        <el-form-item
                            :label="item.attr_name"
                            v-for="item in onlyTableData"
                            :key="item.attr_id"
                        >
                            <el-input v-model="item.attr_vals"></el-input>
                        </el-form-item>
                    </el-tab-pane>
                    <el-tab-pane label="商品图片" name="3">
                        <el-upload
                            :action="uploadUrl"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            list-type="picture"
                            :headers="headersObj"
                            :on-success="handleSuccess"
                        >
                            <el-button size="small" type="primary">点击上传</el-button>
                        </el-upload>
                    </el-tab-pane>
                    <el-tab-pane label="商品内容" name="4">
                        <!-- 富文本编辑器 -->
                        <quill-editor v-model="addForm.goods_introduce"></quill-editor>
                        <!-- 添加商品 -->
                        <el-button type="primary" @click="addGoods">添加商品</el-button>
                    </el-tab-pane>
                </el-tabs>
            </el-form>
            <!-- 图片预览 -->
            <el-dialog title="图片预览" :visible.sync="previewVisible" width="50%">
                <img :src="previewPath" alt="" class="previewImg">
            </el-dialog>
        </el-card>
    </div>
</template>

<script>
import _ from 'lodash'
export default {
    data() {
        return {
            cateList:[],                          // 所有商品分类的数据
            manyTableData:[],                     // 所有商品参数的数据
            onlyTableData:[],                     // 所有商品属性的数据
            activeIndex:'0',                      // 选中的下标 
            // 添加商品的表单数据对象
            addForm:{
                goods_name:"",
                goods_price:'1',
                goods_weight:'0',
                goods_number:'0',
                goods_cat:[],
                pics:[],
                attrs:[],
                goods_introduce:'', 
            },
            // 级联选择器的数据对象
            cateProps:{
                label:"cat_name",
                value:"cat_id",
                children:"children",
                expandTrigger: "hover"
            },
            // 商品表单数据的验证规则
            addFormRules:{
                goods_name:[
                    {required:true,message:"请输入商品名称",trigger:"blur"}
                ],
                  goods_price:[
                    {required:true,message:"请输入商品价格",trigger:"blur"}
                ],
                  goods_weight:[
                    {required:true,message:"请输入商品重量",trigger:"blur"}
                ],
                  goods_number:[
                    {required:true,message:"请输入商品数量",trigger:"blur"}
                ],
            },
            // 上传图片的url地址
            uploadUrl:"http://127.0.0.1:8888/api/private/v1/upload",  
            // 上传图片的请求头对象
            headersObj:{
                Authorization:window.sessionStorage.getItem("token")
            },
            previewPath:"",                     // 图片预览路径   
            previewVisible:false,               // 图片预览对话框状态                      
        };
    },
    created() {
        this.getCateList()
    },
    mounted() {},
    methods: {
        // 获取商品分类数据
        async getCateList(){
            const {data:res} =await this.$http.get("categories")
            if(res.meta.status!==200){
               return this.$message.error("获取商品分类失败！")
            }
            this.cateList=res.data
            this.$message.success("获取商品分类成功！")
            // console.log(this.cateList);
        },
        // 级联选择器发生变化
        handleChange(){
            if(this.addForm.goods_cat.length!==3){
                this.addForm.goods_cat=[]
            }
        },
        // activeName是即将要进入的地方 oldActiveName是离开的地方
        beforeTabLeave(activeName,oldActiveName){
            if(oldActiveName==='0' && this.addForm.goods_cat.length!==3){
                this.$message.error("请先选择商品分类！")
                return false
            }
        },
        // 获取商品参数数据
        async tabClicked(){
            // 证明是商品参数
            if(this.activeIndex==='1'){
                const {data:res} = await this.$http.get(`categories/${this.cateId}/attributes`,{params:{sel:'many'}})
                if(res.meta.status!==200){
                   return this.$message.error("获取商品参数失败！")
                }
                res.data.forEach(item=>{
                    item.attr_vals=item.attr_vals==''? [] : item.attr_vals.split(' ')
                    // console.log(item.attr_vals);
                })
                this.$message.success("获取商品参数成功！")
                this.manyTableData=res.data
                // console.log(res.data);
            }else if(this.activeIndex==='2'){
                const {data:res} = await this.$http.get(`categories/${this.cateId}/attributes`,{params:{sel:'only'}})
                if(res.meta.status!==200){
                   return this.$message.error("获取商品属性失败！")
                }
                // console.log(res);
                this.$message.success("获取商品属性成功！")
                this.onlyTableData=res.data
            }   
        },
        // 处理图片的预览效果
        handlePreview(file){
            // console.log(file);
            this.previewPath=file.response.data.url
            this.previewVisible = true
        },
        // 处理图片的移除效果
        handleRemove(file){
            // console.log(file);
            // 先获取要删除图片的路径
            const filePath=file.response.data.tmp_path
            // 在pics数组中 找到该图片对应的索引值
            const i = this.addForm.pics.findIndex(item=>item.pic===filePath)
            // 通过splice进行删除
            this.addForm.pics.splice(i,1)
            // console.log(this.addForm);
        },
        // 监听图片上传成功
        handleSuccess(response){
            // console.log(response);
            // 拼接得到一个图片信息对象
            const picInfo={pic:response.data.tmp_path}
            // 将图片信息对象添加到数组中
            this.addForm.pics.push(picInfo)
            // console.log(this.picInfo.pics);
        },
        // 添加商品
        addGoods(){
            this.$refs.addFormRef.validate(async valid=>{
                if(!valid){
                    return this.$message.error("请填写完整必要的表单项！")
                }
                // lodash cloneDeep(obj)
                const form = _.cloneDeep(this.addForm)
                form.goods_cat = form.goods_cat.join(',')
                // 处理商品参数
                this.manyTableData.forEach(item=>{
                    const newInfo={attr_id:item.attr_id,attr_value:item.attr_vals.join('')}
                    this.addForm.attrs.push(newInfo)
                })
                // 处理商品属性
                this.onlyTableData.forEach(item=>{
                    const newInfo={attr_id:item.attr_id,attr_value:item.attr_vals}
                    this.addForm.attrs.push(newInfo)
                })
                form.attrs = this.addForm.attrs
                // console.log(form);
                // 发送请求添加商品
                // 商品的名称必须是唯一的
                //  {goods_name:this.addForm.goods_name,goods_cat:this.addForm.goods_cat,goods_price:this.addForm.goods_price,goods_number:addForm.goods_number,goods_weight:this.addForm.goods_weight}
                const {data:res} = await this.$http.post("goods",{
                    goods_name:this.addForm.goods_name,goods_cat:form.goods_cat,goods_price:this.addForm.goods_price,goods_number:this.addForm.goods_number,goods_weight:this.addForm.goods_weight
                })
                console.log(res);
                if(res.meta.status!==201){
                    return this.$message.error("添加商品失败！")
                }
                this.$message.success("添加商品成功！")
                this.$router.push({
                    path:"/goods"
                })
            })
        }
    },
    computed:{
        cateId(){
            if(this.addForm.goods_cat.length===3){
                return this.addForm.goods_cat[2]
            }
            return null
        }
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.tree-table,
.el-steps{
    margin: 15px 0;
}
.el-step__title{
    font-size: 14px !important;
}
.el-checkbox{
    margin: 0 0 0 10px !important;
}
.previewImg{
    width: 100%;
}
.quill-editor {
    min-height: 300px;
}
.el-tabs{
    height: 600px;
}
</style>
