<template>
    <!-- 商品分类 -->
    <div class="categories">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>商品管理</el-breadcrumb-item>
            <el-breadcrumb-item>商品分类</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <el-row>
                <el-col>
                    <!-- 添加按钮 -->
                    <el-button type="primary" @click="showAddCateDialogVisible">添加分类</el-button>
                </el-col>
            </el-row>
            <!-- 表格区域 -->
            <tree-table
                :data="cateList"
                :columns="columns"
                :selection-type="false"
                :expand-type="false"
                border=""
                show-index
                index-text="#"
                :show-row-hover="false"
                class="tree-table"
            >
                <!-- 是否有效 -->
                <template slot="isok" slot-scope="scope">
                    <i
                        class="el-icon-success"
                        v-if="scope.row.cat_deleted===false"
                        style="color:lightgreen;"
                    ></i>
                    <i class="el-icon-error" v-else style="color:red;"></i>
                </template>
                <!-- 排序 -->
                <template slot="order" slot-scope="scope">
                    <el-tag v-if="scope.row.cat_level===0" size="mini">一级</el-tag>
                    <el-tag v-else-if="scope.row.cat_level===1" size="mini" type="success">二级</el-tag>
                    <el-tag v-else size="mini" type="warning">三级</el-tag>
                </template>
                <!-- 操作 -->
                <template slot="operation" slot-scope="scope">
                    <el-button
                        type="primary"
                        size="mini"
                        icon="el-icon-edit"
                        @click="showEditCateDialog(scope.row.cat_id)"
                    >编辑</el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="removeCate(scope.row.cat_id)"
                    >删除</el-button>
                </template>
            </tree-table>
            <!-- 分页区域 -->
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="queryInfo.pagenum"
                :page-sizes="[5, 10, 20, 30]"
                :page-size="queryInfo.pagesize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
            ></el-pagination>
            <!-- 添加分类的对话框 -->
            <el-dialog
                title="添加分类"
                :visible.sync="addCateDialogVisible"
                @close="addCateDialogClosed"
                width="50%"
            >
                <el-form
                    :model="addCateForm"
                    :rules="addCateFormRules"
                    ref="addCateFormRef"
                    label-width="100px"
                >
                    <el-form-item label="分类名称：" prop="cat_name">
                        <el-input v-model="addCateForm.cat_name"></el-input>
                    </el-form-item>
                    <el-form-item label="父级分类：">
                        <!-- options 用来指定数据源 -->
                        <!-- props 用来指定配置对象 -->
                        <!-- :props="" -->
                        <el-cascader
                            expandTrigger="hover"
                            :props="cascaderProps "
                            @change="parentCateChanged"
                            v-model="selectedKeys"
                            :options="parentCateList"
                            clearable
                        ></el-cascader>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addCateDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addCate">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 编辑的对话框 -->
            <el-dialog
                title="编辑分类"
                :visible.sync="editCateDialogVisible"
                width="50%"
                @close="editDialogClosed"
            >
                <el-form :model="editForm" ref="editFormRef" label-width="80px">
                    <el-form-item label="分类名称">
                        <el-input v-model="editForm.cat_name"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editCateDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editCate">确 定</el-button>
                </span>
            </el-dialog>
        </el-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            cateList:[],                      // 商品分类数据
            queryInfo:{                       // 请求信息
                type:3,                       // 表示显示一层二层三层分类列表
                pagenum:1,                    // 当前页数
                pagesize:5                    // 页数条数                   
            },
            total:0,                          // 总条数
            columns:[                         // 表格数据
                {
                    label:'分类名称',
                    prop:'cat_name'
                },
                {
                    label:"是否有效",
                    type:"template",          // 定义模板列  
                    template:"isok"           // 表示这一列使用模板名称
                },
                {
                    label:"排序",
                    type:"template",          // 定义模板列  
                    template:"order"          // 表示这一列使用模板名称
                },
                {
                    label:"操作",
                    type:"template",          // 定义模板列  
                    template:"operation"      // 表示这一列使用模板名称
                },
            ],  
            addCateDialogVisible:false,       // 添加分类的对话框状态
            editCateDialogVisible:false,      // 编辑分类的对话框状态
            // 编辑的表单数据
            editForm:{                                   
                cat_name:""                          
            },
            addCateForm:{
                cat_name:"",                  // 添加分类的名称
                cat_pid:0,                    // 父级分类的id
                cat_level:0                   // 分类的等级，默认的是1级分类
            },
            // 添加分类表单的验证
            addCateFormRules:{
                cat_name:[
                    {required:true,message:"请输入分类名称",trigger:"blur"}
                ]
            },
            parentCateList:[],                // 父级分类的数据
            // 级联选择器的配置对象
            cascaderProps:{
                value:"cat_id",
                label:"cat_name",
                children:"children",
                checkStrictly:true
            },
            selectedKeys:[]                  // 选中的父级分类的Id数组
            
        };
    },
    created() {
       this.getCateList()
    },
    mounted() {
         
    },
    methods: {      
        // 获取商品分类数据
        async getCateList(){
            // const {data:res} = await this.$http.get(`categories?type=${this.queryInfo.type}&pagesize=${this.queryInfo.pagesize}&pagenum=${this.queryInfo.pagenum}`)
            const {data:res} = await this.$http.get('categories',{params:this.queryInfo})
            // let res=await this.$http({
            //     url:`categories?type=${this.queryInfo.type}&pagesize=${this.queryInfo.pagesize}&pagenum=${this.queryInfo.pagenum}`,
            //     method:'get'
            // })
            if(res.meta.status!==200){
               return this.$message.error("获取商品分类失败！")
            }
            // console.log(69,res);
            this.cateList=res.data.result
            this.total=res.data.total
            // console.log(this.cateList);
            this.$message.success("获取商品分类成功！")

        },
        // 监听pagesize变化
        handleSizeChange(newSize){
            this.queryInfo.pagesize=newSize
            this.getCateList()
        },
        // 监听pagenum变化
        handleCurrentChange(newNum){
            this.queryInfo.pagenum=newNum
            this.getCateList()
        },
        // 显示添加分类的对话框
        showAddCateDialogVisible(){
            // 先获取父级分类的数据
            this.getParentCateList()
            this.addCateDialogVisible=true
        },
        // 获取父级分类的数据
        async getParentCateList(){
           const {data:res} = await this.$http.get("categories",{params:{type:2}})
           if(res.meta.status!=200){
               return this.$message.error("获取父级分类数据失败！")
           }
           this.parentCateList=res.data
           this.$message.success("获取父级分类数据成功！")
        },
        // 选择项发生变化触发这个函数
        parentCateChanged(){
            // 如果selectKeys数组中的length大于0 说明选中的是父级分类
            // 否则就是没有选中父级分类
            if(this.selectedKeys.length>0){
                // 父级分类的id
                this.addCateForm.cat_pid=this.selectedKeys[this.selectedKeys.length-1]
                // 赋值当前分类的等级
                this.addCateForm.cat_level=this.selectedKeys.length
                return
            }else{
                // 父级分类的id
                this.addCateForm.cat_pid=0
                // 赋值当前分类的等级
                this.addCateForm.cat_level=0
                return
            }
        },
        // 添加分类
        addCate(){
            this.$refs.addCateFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.post("categories",this.addCateForm)
                if(res.data.status!=200){
                    this.$message.error("添加分类失败！")
                } 
                this.$message.success("添加分类成功！")
                this.getCateList()                
                this.addCateDialogVisible=false
            })
        },
        // 监听对话框的关闭 重置表单数据
        addCateDialogClosed(){
            this.$refs.addCateFormRef.resetFields()
            this.selectedKeys=[]
            this.addCateForm.cat_level=0
            this.addCateForm.cat_pid=0
        },
        // 删除分类
            async removeCate(id){
                // console.log(id);
                const confirmRequire = await this.$confirm('此操作将永久删除该商品分类, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).catch(err=>err)
            // 点击确定是confirm 取消是cancel
            // console.log(confirmRequire);
            if(confirmRequire==='cancel'){
                return this.$message.info("已取消删除")
            }
            const {data:res} = await this.$http.delete('categories/'+id)
            if(res.meta.status===200){
                this.getCateList()
                this.$message.success("删除成功！")
            }    
        },
        // 显示编辑对话框
        async showEditCateDialog(id){
            const {data:res} =await this.$http.get("categories/"+id)
            if(res.meta.status!==200){
                return this.$message.error("查询用户信息失败！")
            }
            this.editForm=res.data
            this.editForm.editId=id
            this.editCateDialogVisible=true
            this.$message.success("查询用户信息成功！")
        },
        // 监听编辑用户对话框的关闭事件
        editDialogClosed(){
            this.$refs.editFormRef.resetFields()
        },
        // 修改用户
        editCate(){
            this.$refs.editFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.put('categories/'+this.editForm.editId,{cat_name:this.editForm.cat_name})
                if(res.meta.status!==200){
                    return this.$message.error("修改角色信息失败！")
                }else{
                    this.editCateDialogVisible=false
                    this.getCateList()
                    this.$message.success("修改角色信息成功！")
                }
            })
        },
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.tree-table{
    margin: 15px 0;
}
.el-cascader{
    width: 100%;
}
</style>
