<template>
    <!-- 商品列表 -->
    <div class="goods">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>商品管理</el-breadcrumb-item>
            <el-breadcrumb-item>商品列表</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <!-- 头部输入框和添加按钮 -->
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-input
                        placeholder="请输入内容"
                        v-model="queryInfo.query"
                        @clear="getGoodsList"
                        clearable
                    >
                        <el-button slot="append" icon="el-icon-search" @click="getGoodsList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="goAddGoods">添加商品</el-button>
                </el-col>
            </el-row>
            <!-- 表格区域 -->
            <el-table :data="goodsList" border="" stripe>
                <el-table-column label="#" type="index" wdith="50px"></el-table-column>
                <el-table-column label="商品名称" prop="goods_name" width="650px"></el-table-column>
                <el-table-column label="商品价格(元)" prop="goods_price" width="90px"></el-table-column>
                <el-table-column label="商品重量" prop="goods_weight" width="80px"></el-table-column>
                <el-table-column label="创建时间" prop="add_time" width="180px">
                    <template slot-scope="scope">{{scope.row.add_time | dateFormat}}</template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" icon="el-icon-edit"></el-button>
                        <el-button
                            type="danger"
                            size="mini"
                            icon="el-icon-delete"
                            @click="removeGoods(scope.row.goods_id)"
                        ></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页区域 -->
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="queryInfo.pagenum"
                :page-sizes="[5, 10, 20, 30]"
                :page-size="queryInfo.pagesize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                background=""
            ></el-pagination>
        </el-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            goodsList:[],                       // 所有商品列表数据
            // 商品参数对象
            queryInfo:{
                query:'',
                pagenum:1,
                pagesize:5
            },
            total:0,                            // 总条数                             
        };
    },
    created() {
        this.getGoodsList()
    },
    mounted() {},
    methods: {
        // 获取商品列表数据
        async getGoodsList(){
            const {data:res} = await this.$http.get("goods",{params:this.queryInfo})
            if(res.meta.status!==200){
                this.$message.error("获取商品列表失败！")
            }
            this.$message.success("获取商品列表成功！")
            this.goodsList=res.data.goods
            this.total=res.data.total
            // console.log(this.goodsList);
        },
        // 监听分页页数
        handleCurrentChange(newNum){
            this.queryInfo.pagenum=newNum
            this.getGoodsList()
        },
        // 监听每页条数
        handleSizeChange(newSize){
            this.queryInfo.pagesize=newSize
            this.getGoodsList()
        },
        // 跳转添加商品页面
        goAddGoods(){
            this.$router.push("/AddGoods")
        },
        // 删除商品
        async removeGoods(id){
                const confirmResult = await  this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).catch(err=>err)
            // 点击取消是cancel 确定是confirm
            if(confirmResult==='cancel'){
               return this.$message.info("已取消删除")
            }
            const {data:res} = await this.$http.delete(`goods/${id}`)
            if(res.meta.status!=200){
               return this.$message.error("删除商品信息失败！")
            }  
            this.$message.success("删除商品信息成功！")
            this.getGoodsList()
        },       
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-table{
    margin: 15px 0;
    font-size: 14px;
}
</style>
