<template>
    <!-- 分类参数 -->
    <div class="params">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>商品管理</el-breadcrumb-item>
            <el-breadcrumb-item>参数列表</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <!-- 警告区域 -->
            <el-alert title="注意：只允许为第三级分类设置相关参数！" show-icon :closable="false" type="warning"></el-alert>
            <!-- 选择商品分类区域 -->
            <el-row>
                <el-col>
                    <span>选择商品分类:&ensp;</span>
                    <!-- 选择商品分类的级联选择框 -->
                    <el-cascader
                        expandTrigger="hover"
                        v-model="selectedKeys"
                        :options="cateList"
                        :props="cateProps"
                        @change="handleChange"
                    ></el-cascader>
                </el-col>
            </el-row>
            <!-- tab页签区域 -->
            <el-tabs v-model="activeName" @tab-click="handleTabClick">
                <!-- 添加动态参数的面板 -->
                <el-tab-pane label="动态参数" name="many">
                    <el-button
                        :disabled="isBtnDisabled"
                        type="primary"
                        size="mini"
                        @click="addDialogVisible=true"
                    >添加参数</el-button>
                    <!-- 动态参数表格 -->
                    <el-table :data="manyTableData" border="" stripe>
                        <!-- 展开行 -->
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <!-- 循环渲染tag页签 -->
                                <el-tag
                                    v-for="(item,i) in scope.row.attr_vals"
                                    :key="i"
                                    @close="handleClose(i,scope.row)"
                                    closable
                                >{{item}}</el-tag>
                                <!-- tag页签输入框 -->
                                <el-input
                                    class="input-new-tag"
                                    v-if="scope.row.inputVisible"
                                    v-model="scope.row.inputValue"
                                    ref="saveTagInput"
                                    size="small"
                                    @keyup.enter.native="handleInputConfirm(scope.row)"
                                    @blur="handleInputConfirm(scope.row)"
                                ></el-input>
                                <!-- 添加按钮 -->
                                <el-button
                                    v-else
                                    class="button-new-tag"
                                    size="small"
                                    @click="showInput(scope.row)"
                                >+ New Tag</el-button>
                            </template>
                        </el-table-column>
                        <!-- 索引列 -->
                        <el-table-column type="index"></el-table-column>
                        <el-table-column label="参数名称" prop="attr_name"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button
                                    type="primary"
                                    size="mini"
                                    icon="el-icon-edit"
                                    @click="showEditDialog(scope.row.attr_id)"
                                >编辑</el-button>
                                <el-button
                                    type="danger"
                                    size="mini"
                                    icon="el-icon-delete"
                                    @click="removeParams(scope.row.attr_id)"
                                >删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <!-- 添加静态属性的面板 -->
                <el-tab-pane label="静态属性" name="only">
                    <el-button
                        :disabled="isBtnDisabled"
                        type="primary"
                        size="mini"
                        @click="addDialogVisible=true"
                    >添加属性</el-button>
                    <!-- 静态属性表格 -->
                    <el-table :data="onlyTableData" border="" stripe>
                        <!-- 展开行 -->
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <!-- 循环渲染tag页签 -->
                                <el-tag
                                    v-for="(item,i) in scope.row.attr_vals"
                                    :key="i"
                                    @close="handleClose(i,scope.row)"
                                    closable
                                >{{item}}</el-tag>
                                <!-- tag页签输入框 -->
                                <el-input
                                    class="input-new-tag"
                                    v-if="scope.row.inputVisible"
                                    v-model="scope.row.inputValue"
                                    ref="saveTagInput"
                                    size="small"
                                    @keyup.enter.native="handleInputConfirm(scope.row)"
                                    @blur="handleInputConfirm(scope.row)"
                                ></el-input>
                                <!-- 添加按钮 -->
                                <el-button
                                    v-else
                                    class="button-new-tag"
                                    size="small"
                                    @click="showInput(scope.row)"
                                >+ New Tag</el-button>
                            </template>
                        </el-table-column>
                        <!-- 索引列 -->
                        <el-table-column type="index"></el-table-column>
                        <el-table-column label="属性名称" prop="attr_name"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button
                                    type="primary"
                                    size="mini"
                                    icon="el-icon-edit"
                                    @click="showEditDialog(scope.row.attr_id)"
                                >编辑</el-button>
                                <el-button
                                    type="danger"
                                    size="mini"
                                    icon="el-icon-delete"
                                    @click="removeParams(scope.row.attr_id)"
                                >删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
        </el-card>
        <!-- 添加分类的对话框 -->
        <el-dialog
            :title="'添加'+titleText"
            :visible.sync="addDialogVisible"
            width="50%"
            @close="addDialogClosed"
        >
            <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="120px">
                <el-form-item :label="titleText" prop="attr_name">
                    <el-input v-model="addForm.attr_name"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="addParams">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 修改分类的对话框 -->
        <el-dialog
            :title="'修改'+titleText"
            :visible.sync="editDialogVisible"
            width="50%"
            @close="editDialogClosed"
        >
            <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="120px">
                <el-form-item :label="titleText" prop="attr_name">
                    <el-input v-model="editForm.attr_name"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="editParams">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    data() {
        return {
            cateList:[],                      // 所有商品分类的数据 
            // 级联选择器的配置对象
            cateProps:{
                value:"cat_id",
                label:"cat_name",
                children:"children",
            },
            parentCateList:[],                 // 父级分类的数据
            selectedKeys:[],                   // 选中的父级分类的Id数组
            activeName:'many',                 // tab页签名称
            manyTableData:[],                  // 动态参数的数据
            onlyTableData:[],                  // 静态属性的数据
            addDialogVisible:false,            // 添加分类对话框的状态
            editDialogVisible:false,           // 添加分类对话框的状态
            // 添加分类的表单数据
            addForm:{
                attr_name:''
            },
            // 添加分类表单的验证规则
            addFormRules:{
                attr_name:[{required:true,message:"此选项不能为空！",trigger:"blur"}]
            },
            // 修改分类的表单数据
            editForm:{
                attr_name:''
            },
            // 修改分类表单的验证规则
            editFormRules:{
                attr_name:[{required:true,message:"此选项不能为空！",trigger:"blur"}]
            },
        };
    },
    created() {
        this.getCateList()
    },
    mounted() {},
    methods: {
        // 获取所有商品分类的数据
        async getCateList(){
            const {data:res} = await this.$http.get("categories")
            if(res.meta.status!=200){
                this.$message.error("获取商品分类失败！")
            }
            this.cateList=res.data
            this.$message.success("获取商品分类成功！")
            // console.log(this.cateList);
        },
        // 级联选择框发生变化
        handleChange(){
            this.getParamsData()
        },
        // tab页签点击
        handleTabClick(){
            // console.log(this.activeName);
            this.getParamsData()
        },
        // 获取参数的列表数据
        async getParamsData(){
            // 证明选中的不是三级分类 
            if(this.selectedKeys.length!==3){
                this.selectedKeys=[]
                this.manyTableData=[]
                this.onlyTableData=[]
                return
            }
            // 根据所选分类的Id 和当前所处的面板 获取对应的参数
            const {data:res} =await this.$http.get(`categories/${this.cateId}/attributes`,{params:{sel:this.activeName}})
            if(res.meta.status!=200){
                this.$message.error("获取参数列表失败！")
            }
            console.log(res);
            // 将数据里面的字符串转为数组
            res.data.forEach(item=>{
                item.attr_vals=item.attr_vals?item.attr_vals.split(' '):[]
                // 控制tag页签输入框的显示隐藏
                item.inputVisible=false
                // 文本框输入的值
                item.inputValue=''
            })    
            if(this.activeName==='many'){
                this.manyTableData=res.data
            }else{
                this.onlyTableData=res.data 
            }
        },
        // 重置添加分类的表单
        addDialogClosed(){
            this.$refs.addFormRef.resetFields()
        },
        // 添加参数/属性
        addParams(){
            this.$refs.addFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.post(`categories/${this.cateId}/attributes`,{attr_name:this.addForm.attr_name,attr_sel:this.activeName})
                if(res.meta.status!==201){
                    this.$message.error("添加参数失败！")
                }
                this.$message.success("添加参数成功！")
                this.getParamsData()
                this.addDialogVisible=false
            })    
        },
        // 编辑的对话框
        async showEditDialog(attr_id){
            const {data:res} =await this.$http.get(`categories/${this.cateId}/attributes/${attr_id}`,{params:{attr_sel:this.activeName}})
            if(res.meta.status!==200){
               return this.$message.error("获取参数信息失败！")
            }
            this.$message.success("获取参数信息成功！")
            this.editForm=res.data
            this.editDialogVisible=true
        },
        // 重置添加分类的表单
        editDialogClosed(){
            this.$refs.editFormRef.resetFields()
        },
        // 修改参数/属性
        async editParams(){
            const {data:res} =await this.$http.put(`categories/${this.cateId}/attributes/${this.editForm.attr_id}`,{attr_name:this.editForm.attr_name,attr_sel:this.activeName})
            if(res.meta.status!==200){
                return this.$message.error("修改数据失败！")
            }
            this.$message.success("修改数据成功！")
            this.getParamsData()
            this.editDialogVisible=false
        },
        // 删除参数/属性
        async removeParams(attr_id){
            const confirmResult = await this.$confirm('此操作将永久删除该参数/属性, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
            }).catch(err=>err)
            // 取消是cancel 确定是confirm
            // console.log(confirmResult);
            if(confirmResult!=='confirm'){
               return this.$message.info("已取消删除！")
            }           
            const {data:res} = await this.$http.delete(`categories/${this.cateId}/attributes/${attr_id}`)
            if(res.meta.status!==200){
               return this.$message.error("删除参数/属性失败！")
            }
            this.$message.success("删除参数/属性成功！")
            this.getParamsData() 
        },
        // tag页签文本框失去焦点、或按下回车键触发
        async handleInputConfirm(row){
            if(row.inputValue.trim().length===0){
                row.inputValue=''
                row.inputVisible=false
                return
            } 
            row.attr_vals.push(row.inputValue.trim())
            row.inputValue=''
            row.inputVisible=false
            this.saveAttrName(row)
        },
        // 需要发送请求 保存这次操作
        async saveAttrName(row){
            const {data:res} = await this.$http.put(`categories/${this.cateId}/attributes/${row.attr_id}`,{attr_name:row.attr_name,attr_sel:row.attr_sel, attr_vals:row.attr_vals})
            if(res.meta.status!==200){
                return this.$message.success("修改参数项成功！")
            }
        },
        // 显示文本输入框
        showInput(row){
            row.inputVisible=true
            // 让文本框自动获得焦点
            // $nextTick 是当页面上元素被重新渲染后 才会执行
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },
        // 删除对应的参数可选项
        handleClose(i,row){
            row.attr_vals.splice(i,1)
            this.saveAttrName(row)
        }
    },
      computed:{
        // 如果按钮需要被禁用返回true 否则返回false
        isBtnDisabled(){
            if(this.selectedKeys.length!==3){
                return true
            }
            return false
        },
        // 当前选中的三级分类的id
        cateId(){
            if(this.selectedKeys.length ===3){
                return this.selectedKeys[2]
            }
            return null
        },
        // 添加分类对话框的标题
        titleText(){
            if(this.activeName==='many'){
                return '动态参数'
            }
            return '静态属性'
        }
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-alert{
    margin: 15px 0;    
}
.el-tabs{
    margin: 15px 0;
}
.el-table{
    margin-top: 15px;
}
.el-tag{
    margin-left: 20px;
}
.el-button{
    margin-left: 20px;
}
.input-new-tag{
    width: 120px;
}
span{
    font-size: 14px;
}
</style>
