<template>
  <!-- 数据统计 -->
  <div class="reports">
    <!-- 面包屑导航区域 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>数据统计</el-breadcrumb-item>
      <el-breadcrumb-item>数据报表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图区域 -->
    <el-card>
      <!-- 为Echarts准备一个具备大小的Dom -->
      <div id="main" style="width:750px;height:400px"></div>
    </el-card>
  </div>
</template>

<script>
// 引入echarts
import * as echarts from 'echarts'
import _ from 'lodash'
export default {
    data() {
        return {
            // 需要合并的选项
            options: {
                title: {
                  text: '用户来源'
                },
                tooltip: {
                  trigger: 'axis',
                  axisPointer: {
                    type: 'cross',
                    label: {
                      backgroundColor: '#E9EEF3'
                    }
                  }
                },
                grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '3%',
                  containLabel: true
                },
                xAxis: [
                  {
                    boundaryGap: false
                  }
                ],
                yAxis: [
                  {
                    type: 'value'
                  }
                ]
            }
        };
    },
    // 此时 页面上的元素已经被渲染完毕了
    async mounted() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 获取数据统计数据
        const {data:res} = await this.$http.get("reports/type/1")
        if(res.meta.status!==200){
            return this.$message.error("获取折线图数据失败！")
        }
        // console.log(res);
        this.$message.success("获取折线图数据成功！")
        // 准备数据和配置项
        const result = _.merge(res.data,this.options)
        // 展开数据
        myChart.setOption(result)
        // 绘制图表
        var option={
            title: {
              text: '用户来源'
            },
            tooltip: {},
            xAxis: {
              data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
                series: [
                  {
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }
            ]
        };
    },
    methods: {},
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-table{
    margin-top: 15px;
}
</style>
