<template>
<!-- 权限列表 -->
    <div class="rights">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
            <el-breadcrumb-item>权限列表</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <el-table :data="rightsList" border="" stripe>
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="权限名称" prop="authname"></el-table-column>
                <el-table-column label="路径" prop="path"></el-table-column>
                <el-table-column label="权限等级" prop="level">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.level==='0'" size="medium">一级</el-tag>
                        <el-tag v-else-if="scope.row.level==='1'" size="medium" type="success">二级</el-tag>
                        <el-tag v-else type="warning" size="medium">三级</el-tag>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            rightsList:[]                       // 权限列表数据
        };
    },
    created() {
        this.getRightsList()
    },
    mounted() {},
    methods: {
       async getRightsList(){
           const {data:res} = await this.$http.get("rights/list")
           if(res.meta.status!==200){
               return this.$message.error(res.meta.msg)
           }else{
                this.$message.success("获取权限列表成功！")
                this.rightsList=res.data 
           }                     
        }
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.rights{
    font-size: 14px;
}
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
</style>
