<template>
    <!-- 角色列表 -->
    <div class="roles">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
            <el-breadcrumb-item>角色列表</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <!-- 添加按钮 -->
            <el-row>
                <el-col>
                    <el-button type="primary" @click="addDialogVisible=true">添加角色</el-button>
                </el-col>
            </el-row>
            <!-- 角色列表 -->
            <el-table :data="rolesList" border="" stripe>
                <!-- 展开列 -->
                <el-table-column type="expand">
                    <template slot-scope="scope">
                        <el-row
                            :class="['bottom-border',i1===0 ? 'top-border' : '','heightCenter']"
                            v-for="(item1,i1) in scope.row.children"
                            :key="item1.id"
                        >
                            <!-- 渲染一级权限 -->
                            <el-col :span="5">
                                <el-tag
                                    closable
                                    @close="removeRight(scope.row,item1.id)"
                                >{{item1.authName}}</el-tag>
                                <i class="el-icon-caret-right"></i>
                            </el-col>
                            <!-- 渲染二级权限、三级权限 -->
                            <el-col :span="19">
                                <el-row
                                    :class="[i2===0 ? '' :'top-border','heightCenter']"
                                    v-for="(item2,i2) in item1.children"
                                    :key="item2.id"
                                >
                                    <!-- 二级权限 -->
                                    <el-col :span="6">
                                        <el-tag
                                            type="success"
                                            class="twoRight"
                                            closable
                                            @close="removeRight(scope.row,item2.id)"
                                        >{{item2.authName}}</el-tag>
                                        <i class="el-icon-caret-right"></i>
                                    </el-col>
                                    <!-- 三级权限 -->
                                    <el-col :span="18 ">
                                        <el-tag
                                            type="warning"
                                            v-for="item3 in item2.children"
                                            :key="item3.id"
                                            closable
                                            @close="removeRight(scope.row,item3.id)"
                                            class="threeRight"
                                        >{{item3.authName}}</el-tag>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </template>
                </el-table-column>
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="角色名称" prop="roleName"></el-table-column>
                <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope" width="300px">
                        <!-- 修改按钮 -->
                        <el-button
                            type="primary"
                            icon="el-icon-edit"
                            size="mini"
                            @click="showEditDialog(scope.row.id)"
                        >编辑</el-button>
                        <!-- 删除按钮 -->
                        <el-button
                            type="danger"
                            icon="el-icon-delete"
                            size="mini"
                            @click="removeUser(scope.row.id)"
                        >删除</el-button>
                        <el-button
                            type="warning"
                            icon="el-icon-setting"
                            size="mini"
                            @click="showRightRialogVisible(scope.row)"
                        >分配权限</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 添加用户对话框 -->
            <el-dialog
                title="添加用户"
                :visible.sync="addDialogVisible"
                width="50%"
                @close="addDialogClosed"
            >
                <!-- 内容主体区域 -->
                <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="80px">
                    <el-form-item label="角色名称" prop="roleName">
                        <el-input v-model="addForm.roleName"></el-input>
                    </el-form-item>1    
                    <el-form-item label="角色描述">
                        <el-input v-model="addForm.roleDesc"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addRoles">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 编辑的对话框 -->
            <el-dialog
                title="修改用户"
                :visible.sync="editDialogVisible"
                width="50%"
                @close="editDialogClosed"
            >
                <el-form
                    :model="editForm"
                    :rules="editFormRules"
                    ref="editFormRef"
                    label-width="80px"
                >
                    <el-form-item label="角色名称" prop="roleName">
                        <el-input v-model="editForm.roleName"></el-input>
                    </el-form-item>
                    <el-form-item label="角色描述" prop="roleDesc">
                        <el-input v-model="editForm.roleDesc"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editRole">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 权限列表对话框 -->
            <el-dialog
                title="分配权限"
                :visible.sync="rightRialogVisible"
                width="50%"
                @close="closeDefKeys"
            >
                <!-- 树形控件 -->
                <el-tree
                    :data="rightList"
                    :props="treeProps"
                    node-key="id"
                    show-checkbox
                    default-expand-all
                    :default-checked-keys="defKeys"
                    ref="treeRef"
                ></el-tree>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="rightRialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="allotRights">确 定</el-button>
                </span>
            </el-dialog>
        </el-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            rolesList:[],                        // 角色列表数据
            rightList:[],                        // 分配权限数据
            rightRialogVisible:false,            // 分配权限对话框的状态
            // 树形控件的属性
            treeProps:{
                label:"authName",
                children:"children"
            },
            defKeys:[],                          // 默认选中的节点
            roleId: '',                          // 分配权限的id
            addDialogVisible:false,              // 添加对话框的状态
            editDialogVisible:false,             // 编辑对话框的状态
            // 添加用户的表单数据
            addForm:{                                   
                roleName:"",
                roleDesc:""                             
            },
            // 添加表单的验证规则对象
            addFormRules:{
                 roleName:[
                    { required: true, message: "请输入角色名称", trigger: "blur" },
                 ]
            },
            // 修改用户的表单数据
            editForm:{
                roleName:"",
                roleDesc:"",
                editId:""
            },                         
            // 修改表单的验证规则
            editFormRules:{
                  roleName:[
                    { required: true, message: "请输入角色名称", trigger: "blur" }
                ]
            },
        };
    },
    created() {
        this.getRolesList()
    },
    mounted() {},
    methods: {
        async getRolesList(){
            const {data:res} = await this.$http.get('roles')
            if(res.meta.status!==200){
                return this.$message.error(res.meta.msg)
            }
            // console.log(res);
            this.$message.success("获取角色列表成功！")
            this.rolesList=res.data
        },
        // 清空添加用户对话框的表单数据
        addDialogClosed(){
            this.$refs.addFormRef.resetFields()
            this.addForm.roleDesc=[]            
        },
        // 添加用户
        addRoles(){
            this.$refs.addFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.post("roles",this.addForm)
                    if(res.meta.status!=201){
                       return this.$message.error(res.meta.msg)
                    }
                    this.$message.success(res.meta.msg)
                    this.addDialogVisible=false                 
                    this.getRolesList()            
                })
        },
        // 删除权限
       async removeRight(role,id){
          const confirmResult = await this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).catch(err=>err)
        if(confirmResult!=='confirm'){
            return this.$message.info("已取消删除！")
        }
        const {data:res} = await this.$http.delete(`roles/${role.id}/rights/${id}`)
            if(res.meta.status===200){
                role.children=res.data
                return this.$message.success("删除用户成功！")
            }
        },
        // 展开编辑的对话框
        async showEditDialog(id){
            const {data:res} = await this.$http.get('roles/'+id)
            if(res.meta.status!==200){
              return this.$message.error("查询用户信息失败！")
            }
                this.editForm=res.data      
                this.editForm.editId=id
                this.editDialogVisible=true
                this.$message.success("查询用户信息成功！")
        },
        // 监听编辑用户对话框的关闭事件
        editDialogClosed(){
            this.$refs.editFormRef.resetFields()
        },
        // 修改用户
        editRole(){
            this.$refs.editFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.put('roles/'+this.editForm.editId,{roleName:this.editForm.roleName,roleDesc:this.editForm.roleDesc})
                if(res.meta.status!==200){
                    return this.$message.error("修改角色信息失败！")
                }else{
                    this.editDialogVisible=false
                    this.getRolesList()
                    this.$message.success("修改角色信息成功！")
                }
            })
        },
        // 删除用户
        async removeUser(id){
           const confirmRequire = await this.$confirm('此操作将永久删除该用户信息, 是否继续?', '提示', {
           confirmButtonText: '确定',
           cancelButtonText: '取消',
           type: 'warning'
        }).catch(err =>err)
        // 点击取消显示cancel 点击确定显示confirm
        if(confirmRequire=='cancel'){
            return this.$message.info("已取消删除")
        }   
        const {data:res} = await this.$http.delete('roles/' +id)
            if(res.meta.status===200){
                this.getRolesList()
                return this.$message.success("删除用户成功！")
            }
        },
        // 分配权限
       async showRightRialogVisible(role){
           this.roleId=role.id
            const {data:res} = await this.$http.get("rights/tree")
            if(res.meta.status!==200){
                return this.$message.error("获取权限数据失败！")
            }
            this.rightList=res.data
            // console.log(this.rightList);
            this.$message.success("获取权限数据成功！")
            // 获取递归三级节点的Id
            this.getKeys(role,this.defKeys)
            this.rightRialogVisible=true
        },
        // 通过递归的形式 获取角色下所有的三级权限的id 并保存到defKeys数组中
        getKeys(node,arr){
            // 如果当前node节点不包含children属性 则是三级权限
            if(!node.children){
                return arr.push(node.id)
            }
            node.children.forEach(item=>{
                this.getKeys(item,arr)
            })
        },
        // 关闭分配权限对话框
        closeDefKeys(){
            this.defKeys=[]
        },
        // 角色分配权限
        async allotRights(){
            const keys=[...this.$refs.treeRef.getCheckedKeys(),...this.$refs.treeRef.getHalfCheckedKeys()]
            const idStr=keys.join(',')
            const {data:res} =await this.$http.post(`roles/${this.roleId}/rights`,{rids:idStr})
            if(res.meta.status!==200){
                return this.$message.error("分配权限失败！")
            }
            this.$message.success("分配权限成功！")
            this.getRolesList()
            this.rightRialogVisible=false
        }
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-button{
    margin-bottom: 15px;
}
.el-tag{
    margin-bottom: 7px;
}
.top-border {
     border-top: 1px solid #eee;
}
.bottom-border {
     border-bottom: 1px solid #eee;
}
.heightCenter{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.twoRight{
    margin-top: 6px;
}
.threeRight{
    margin: 5px 15px 5px 0;
}
</style>
