<template>
    <div class="users">
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片视图区域 -->
        <el-card>
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-input
                        placeholder="请输入内容"
                        v-model="queryInfo.query"
                        clearable
                        @clear="getUsersList"
                    >
                        <el-button slot="append" icon="el-icon-search" @click="getUsersList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="addDialogVisible=true">添加用户</el-button>
                </el-col>
            </el-row>
        </el-card>
        <!-- 用户列表区域 -->
        <el-table :data="userList" border="" stripe>
            <el-table-column type="index" label="#"></el-table-column>
            <el-table-column prop="username" label="姓名"></el-table-column>
            <el-table-column prop="email" label="邮箱"></el-table-column>
            <el-table-column prop="mobile" label="电话"></el-table-column>
            <el-table-column prop="role_name" label="角色"></el-table-column>
            <el-table-column prop="mg_state" label="状态">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.mg_state" @change="usersState(scope.row)"></el-switch>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope" width="180px">
                    <!-- 修改按钮 -->
                    <el-button
                        type="primary"
                        icon="el-icon-edit"
                        size="mini"
                        @click="showEditDialog(scope.row.id)"
                    ></el-button>
                    <!-- 删除按钮 -->
                    <el-button
                        type="danger"
                        icon="el-icon-delete"
                        size="mini"
                        @click="removeUser(scope.row.id)"
                    ></el-button>
                    <!-- 分配角色 -->
                    <el-tooltip
                        class="item"
                        effect="dark"
                        content="分配角色"
                        placement="top"
                        :enterable="false"
                    >
                        <el-button
                            type="warning"
                            icon="el-icon-setting"
                            size="mini"
                            @click="setRole(scope.row)"
                        ></el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页区域 -->
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="queryInfo.pagenum"
            :page-sizes="[5, 10, 20, 30]"
            :page-size="queryInfo.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
        ></el-pagination>
        <!-- 添加用户对话框 -->
        <el-dialog
            title="添加用户"
            :visible.sync="addDialogVisible"
            width="50%"
            @close="addDialogClosed"
        >
            <!-- 内容主体区域 -->
            <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="70px">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="addForm.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="addForm.password" type="password"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" prop="email">
                    <el-input v-model="addForm.email"></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="mobile">
                    <el-input v-model="addForm.mobile"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="addUser">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 修改的对话框 -->
        <el-dialog
            title="修改用户"
            :visible.sync="editDialogVisible"
            width="50%"
            @close="editDialogClosed"
        >
            <el-form :rules="editFormRules" ref="editFormRef" :model="editForm" label-width="70px">
                <el-form-item label="用户名">
                    <el-input v-model="editForm.username" disabled></el-input>
                </el-form-item>
                <el-form-item label="邮箱" prop="email">
                    <el-input v-model="editForm.email"></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="mobile">
                    <el-input v-model="editForm.mobile"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="editUser">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 分配角色的对话框 -->
        <el-dialog
            title="分配角色"
            :visible.sync="setRoleDialogVisible"
            width="50%"
            @close="setRoleDialogClosed"
        >
            <div>
                <p>当前的用户：{{userInfo.username}}</p>
                <p>当前的角色：{{userInfo.role_name}}</p>
                <p>分配新角色：
                    <el-select v-model="selectRole" placeholder="请选择">
                        <el-option
                            v-for="item in roleList"
                            :key="item.id"
                            :label="item.roleName"
                            :value="item.id"
                        ></el-option>
                    </el-select>
                </p>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="setRoleDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveRoleInfo">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    data() {
        return {
            queryInfo:{
                query:"",                               // 值
                pagenum:1,                              // 当前页数
                pagesize:2                              // 页数条数
            },
            userList:[],                                // 用户列表数据
            total:0,                                    // 总条数
            addDialogVisible:false,                     // 控制添加对话框的显示隐藏
            editDialogVisible:false,                    // 控制修改对话框的显示隐藏
            setRoleDialogVisible:false,                 // 控制分配角色对话框的状态
            addForm:{                                   // 添加用户的表单数据
                username:"",                            // 用户名
                password:"",                            // 密码
                email:"",                               // 邮箱
                mobile:""                               // 手机号
            },
            editForm:{},                                // 修改用户的表单数据
            userInfo:{},                                // 分配角色用户的信息
            roleList:[],                                // 分配角色的所有数据
            selectRole:'',                              // 已选中的角色
            // 修改表单的验证规则
            editFormRules:{
                  email:[
                    { required: true, message: "请输入邮箱", trigger: "blur" },
                    {validator:checkEmail,trigger:"blur"}
                ],
                   mobile:[
                    { required: true, message: "请输入手机号", trigger: "blur" },
                    {validator:checkMobile,trigger:"blur"}
                ]
            },
            // 添加表单的验证规则对象
            addFormRules:{
                username:[
                         { required: true, message: "请输入用户名", trigger: "blur" },
                     {
                       min: 3,
                       max: 10,
                       message: "用户名长度在 3 到 10 个字符",
                       trigger: "blur"
                     }
                    ],
                    password:[
                        { required: true, message: "请输入密码", trigger: "blur" },
                    {
                    min: 3,
                    max: 10,
                    message: "用户名长度在 6 到 16 个字符",
                    trigger: "blur"
                    }
                ],
                   email:[
                    { required: true, message: "请输入邮箱", trigger: "blur" },
                    {validator:checkEmail,trigger:"blur"}
                ],
                   mobile:[
                    { required: true, message: "请输入手机号", trigger: "blur" },
                    {validator:checkMobile,trigger:"blur"}
                ]
            },           
        };
          
            // 验证邮箱的规则
            var checkEmail = (rule,value,callback) =>{
                const regEmail= /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/
                  if(regEmail.test(value)){
                // 合法邮箱/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return callback()
            }
            callback(new Error("请输入合法的邮箱"))
        
            }
            // 验证手机号的规则
            var checkMobile = (rule,value,callback)=>{
                // 验证手机号的正则表达式
                const regMobile = /^(0|86|17951)?(13[0-9]|15[0123456789]|17[678]|18[0-9]|14[57])[0-9]{8}$/
                // 合法手机号 /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[189]))\d{8}$/
                if(regMobile.test(value)){
                    return callback()
                }
                callback(new Error("请输入合法的手机号"))
            }
    },
    created() {
        this.getUsersList()
    },
    mounted() {
    },
    methods: {
        // 获取列表数据
        async getUsersList(){
            // const {data:res} =await this.$http.get(`users?query=${this.queryInfo.query}&pagenum=${this.queryInfo.pagenum}&pagesize=${this.queryInfo.pagesize}`)
            const {data:res} =await this.$http.get('users',{params:this.queryInfo}) 
            if(res.meta.status!==200){
               return this.$message.error(res.meta.msg)
            }else{
                // console.log(res);
                this.userList=res.data.users
                this.total=res.data.total
                this.$message.success("获取用户数据成功！")
            }
        },
        // 显示每页的条数
        handleSizeChange(newSize){
            this.queryInfo.pagesize=newSize;
            this.getUsersList()
        },
        // 显示当前的页数
        handleCurrentChange(newNum){
            this.queryInfo.pagenum=newNum;
            this.getUsersList()
        },
        // 监听开关状态
        async usersState(userinfo){
           const {data:res} =await this.$http.put(`users/${userinfo.id}/state/${userinfo.mg_state}`)
           if(res.meta.status!==200){
               userinfo.mg_state=!userinfo.mg_state
               return this.$message.error(res.meta.msg)
           }else{
               this.$message.success(res.meta.msg)
           }
       },
        // 监听添加用户对话框的关闭事件
        addDialogClosed(){
            this.$refs.addFormRef.resetFields()
        },
        // 添加用户
        addUser(){
            this.$refs.addFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.post("users",this.addForm)
                    if(res.meta.status!=201){
                       return this.$message.error(res.meta.msg)
                    }
                    this.$message.success(res.meta.msg)
                    this.addDialogVisible=false                 
                    this.getUsersList()            
            })
        },
        // 展开修改用户的对话框
        async showEditDialog(id){
            const {data:res} = await this.$http.get('users/'+id)
            if(res.meta.status!==200){
              return this.$message.error("查询用户信息失败！")
            }
            // console.log(res);
            this.editForm=res.data           
            this.editDialogVisible=true
            this.$message.success("查询用户信息成功！")
        },
        // 监听编辑用户对话框的关闭事件
        editDialogClosed(){
            this.$refs.editFormRef.resetFields()
        },
        // 修改用户
        editUser(){
            this.$refs.editFormRef.validate(async valid=>{
                if(!valid) return
                const {data:res} = await this.$http.put('users/'+this.editForm.id,{email:this.editForm.email,mobile:this.editForm.mobile})
                if(res.meta.status!==200){
                   return this.$message.error("修改角色信息失败！")
                }else{
                    this.editDialogVisible=false
                    this.getUsersList()
                    this.$message.success("修改角色信息成功！")
                }
            })
        },
        // 删除用户
       async removeUser(id){
          const confirmRequire = await this.$confirm('此操作将永久删除该用户信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).catch(err =>err)
        // 点击取消显示cancel 点击确定显示confirm
        if(confirmRequire=='cancel'){
            return this.$message.info("已取消删除")
        }   
        const {data:res} = await this.$http.delete('users/' +id)
        if(res.meta.status===200){
            this.getUsersList()
            return this.$message.success("删除用户成功！")
        }
        },
        // 获取角色列表数据
        async setRole(userInfo){
            this.userInfo=userInfo
            const {data:res} = await this.$http.get('roles')
            if(res.meta.status!==200){
                return this.$message.error("角色列表获取失败！")
            }
            // console.log(res);
            this.roleList=res.data
            this.setRoleDialogVisible=true
            this.$message.success("角色列表获取成功！")
        },
        // 分配角色
        async saveRoleInfo(){
            if(!this.selectRole){
                return this.$message.error("请选择要分配的角色！")
            }               
            const {data:res} =await this.$http.put(`users/${this.userInfo.id}/role`,{rid:this.selectRole}) 
            // console.log(res);
            if(res.meta.status !== 200){
                return this.$message.error("设置角色失败！") 
            }
            this.$message.success("设置角色成功！")
            this.getUsersList()
            this.setRoleDialogVisible=false

        },
        // 清空下拉框数据
        setRoleDialogClosed(){
            this.selectRole=''
            this.userInfo={}
        }
    },
    components:{}
};
</script>

<style lang='scss' scoped>
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-table{
    font-size: 12px;
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}
p{
    margin-top: 10px;
}

</style>
